node_modules
.git
.gitignore
README.md
Dockerfile
.dockerignore
npm-debug.log
.nyc_output
.env
dist
dist/
./dist
**/dist
.vite
.vite/
node_modules/.vite
coverage
.env.local
.env.development.local
.env.test.local
.env.production.local